/InitialSetup.o
/LoginAsync.o
/SodiumSocket.o
/StringRes.o
/main.o
/prefs.o
/sodium_utils.o
/stringify.o
/utils.o
/vars.o
/gtkclient
/settings.o
/UserHome.o
/CallScreen.o
/CmdListener.o
/CommandAccept.o
/CommandCall.o
/CommandEnd.o
/Heartbeat.o
/Opus.o
/R.o
/Log.o
/liblogger.so
/libsodiumutils.so
/libstringify.so
